// title-container
.title-container {
    width: 100%;
    height: 30vh;
    background: $background-color;
    position: relative;
    display: flex;
    flex-direction: center;
    margin-bottom: 15rem;
}

#title-content {
    position: absolute;
    width: 70%;
    background: #65a9ca;
    left: 50%;
    top: 70%;
    padding: 4rem;
    transform: translate(-50%, -30%);
    @include flex(center, center, center);
}

@media(max-width:755px) {

    .title-container {
        height: 30vh;
    }

    .title-container h2 {
        font-size: 10vw;
    }
}




// gridlayout

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 3, 1fr);
    grid-gap: 2rem;
    grid-template-areas:
        "box1 box2 box3"
        "box4 box5 box6"
        "box7 box8 box9"
        "box10 box11 box12"
        "box13 box14 box15";
    justify-items: center;
    margin: 5rem;
}


.box {
    margin-bottom: 1rem;
    overflow: hidden;
    max-height: 90%;
    border-radius: 5%;
    width: 100%;
    position: relative;
    opacity: 0;
}

.box img {
    width: 100%;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(90%);
}

.box:hover img {
    filter: brightness(30%);
    transform: scale(1.3);
}

.box h2 {
    font-size: 4vh;
    opacity: 0;
    text-align: center;
    text-transform: capitalize;
    transition: transform 2s, opacity 1s linear;
    color: #fff;
    left: 10%;
    top: 50%;
    transform: translate(-90%, -50%);
    position: absolute;
}

.box:hover h2 {
    position: absolute;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


// grid layout

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.box8 {
    grid-area: box8;
}

.box9 {
    grid-area: box9;
}

.box10 {
    grid-area: box10;
}

.box11 {
    grid-area: box11;
}

.box12 {
    grid-area: box12;
}

.box13 {
    grid-area: box13;
}

.box14 {
    grid-area: box14;
}

.box15 {
    grid-area: box15;
}


@media (max-width: 1212px) {
    .grid {
        grid-template-columns: repeat(auto-fit, 2, 1fr);
        grid-template-areas:
            "box1 box2"
            "box3 box4"
            "box5 box6"
            "box7 box8"
            "box9 box10"
            "box11 box12"
            "box13 box14"
            "box15 .";
    }

    .box h2 {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -70%);
        opacity: 1;
        background: rgba(255, 255, 255, .8);
        width: fit-content;
        display: inline-block;
        padding: 1rem 0;
        width: 100%;
        color: #000;
        font-size: 3vw;
    }
}

@media (max-width: 755px) {
    .grid {
        grid-template-columns: repeat(auto-fit, 1, 1fr);
        margin: 5rem;
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4"
            "box5"
            "box6"
            "box7"
            "box8"
            "box9"
            "box10"
            "box11"
            "box12"
            "box13"
            "box14"
            "box15";
    }

    .box {
        max-height: none;
    }

    .box h2 {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -80%);
        position: absolute;
    }
}

@media (max-width: 612px) {
    .grid {
        margin: 1rem;
    }

    .box:first-of-type {
        margin-top: 5rem;
    }

    .box h2 {
        font-size: 2.5vh;
    }
}