.main-head {
    width: 90%;
    margin: 0 auto
}

nav {
    @include flex(space-between, center, row);
    min-height: 10vh;
    width: 100%;
    flex-wrap: wrap;

    .logo {
        @include flex(flex-start, center, row);
        flex: 1 1 10rem;

        h1 {
            margin: 5%;
            display: inline-block;
        }
    }

    ul {
        @include flex(space-evenly, center, row);
        flex: 1 1 10rem;

        li a {
            font-size: 2vw;
            font-weight: $font-light;
        }
    }
}

.intro {
    min-width: 90vh;
    width: 90%;
    margin: auto;
    // flex-wrap: wrap;
    @include flex(space-evenly, center, row);
    margin-top: 1rem;



    h2 {
        font-size: 4rem;
        padding-top: 2rem;
        background: $gradient;
        background: #00a0a0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }

    h3 {
        font-size: 6rem;
        padding: 2rem 0;
    }

    p {
        padding-top: 2rem;
        color: $grey-text;
    }
}

.social-links {
    margin-top: 2rem;

    a {
        margin-right: 2rem;
    }
}

.active {
    background-color: $background-color;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 3rem;
}

.intro-text,
.banner-image {
    flex: 1 1 40rem;
}

svg {
    width: 100%;
}

// animation keyframes

#body {
    animation: shuffle 1s linear infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

#left-earphone {
    animation: left 1s ease-in-out infinite alternate;

}

#right-earphone {
    animation: right 1s ease-in-out infinite alternate;

}

#face {
    animation: face 1s linear infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}


@keyframes face {
    from {
        transform: rotateZ(-5deg);
    }

    to {
        transform: rotateZ(5deg);
    }
}


@keyframes left {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-1%);
    }
}


@keyframes right {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(1%);
    }
}

@keyframes shuffle {
    from {
        transform: translateY(-1%)
    }

    to {
        transform: translateY(2%)
    }
}