.projects {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;

    @media(max-width: 1074px) {
        width: 100%;
    }

    @media(max-width:965px) {
        flex-direction: column;
    }
}

.image {
    flex: 1 1 35rem;
    // width: 40%;
    width: 100%;
    padding: 2rem;

    @media(max-width:965px) {
        width: 100%;
    }

    img {
        background-size: contain;
        width: 100%;
        min-width: 200px;
    }

    h2 {
        font-size: 2vw;
        background-color: $background-color;
        color: #fff;
        padding: .5rem 1rem;
        border-radius: 3rem;
        margin-bottom: 1rem;
        display: inline-block;
        font-weight: $font-medium;
    }

}