// font styles
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap");

$font-stack: "Montserrat",
sans-serif;

$font-x-light: 100;
$font-light: 300;
$font-medium: 400;
$font-bold: 700;
$font-black: 900;

$header1: 3vw;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2rem;
$gradient: linear-gradient(left, #0095dd, #00a0a0);
$background-color: #00a0a0;
$grey-text: #808080;

// color styles

// vars

// mixins

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

// file imports
@import "normalize";
@import "global";
@import "intro";
@import "projects";

// media queries
@media (max-width: 1388px) {
    svg {
        width: 80%;
    }

    .intro {
        margin-top: 0;
    }

    .intro-text {
        margin-left: 1rem;
    }

    nav {
        width: 100%;
    }
}

@media (max-width: 755px) {

    // intro

    .intro {
        flex-wrap: wrap;
    }

    h1 {
        font-size: 3rem;
    }

    .intro h2 {
        font-size: 10vw;
    }

    h2 {
        text-transform: uppercase;
        line-height: 1;
        padding: 3rem 0;
    }

    .intro-text {
        text-align: center;
    }

    svg {
        display: block;
        margin: auto;
        background: #000;
        padding: 5px;
        margin-top: 5rem;
        height: 50vh;
    }

    nav ul {
        display: none;
    }

    p {
        font-size: 7vw;
    }

    .social-links a img {
        height: 50px;
    }

    // project

    .image:first-of-type {
        margin-top: 5rem;
    }
}

@media (max-width: 438px) {

    nav .logo {
        flex-direction: column;
        padding: 1rem;
    }

    .image {
        padding: 0;
        flex: 1 1 25rem;
    }

    svg {
        width: 100%;
    }

    nav .logo h1 {
        margin: 2%;
    }

    h1 {
        font-size: 2.5rem;
    }

    .intro p {
        padding-top: 0;
    }

    .intro h2 {
        padding-top: 3rem;
    }

    .social-links a img {
        height: 40px;
    }
}

@media (max-width: 320px) {
    .image {
        flex: 1 1 20rem;
    }
}