// font styles
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap");

$font-stack: "Montserrat",
sans-serif;

$font-x-light: 100;
$font-light: 300;
$font-medium: 400;
$font-bold: 700;
$font-black: 900;

$header1: 3vw;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2rem;
$gradient: linear-gradient(left, #0095dd, #00a0a0);
$background-color: #00a0a0;
$grey-text: #808080;

// color styles

// vars

// mixins

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

// file imports
@import "normalize";
@import "global";
@import "intro";
@import "starwars";
@import "grid";
@import "contact";



// media queries
@media (max-width: 1388px) {
    .banner-image svg {
        width: 80%;
    }

    .intro {
        margin-top: 0;
    }

    // .intro-text {
    //     margin-left: 1rem;
    // }

    nav {
        width: 100%;
    }
}

@media (max-width: 755px) {

    // intro

    .intro {
        flex-wrap: wrap;
        width: 100%;
    }

    h1 {
        font-size: 3rem;
    }

    .intro h2 {
        font-size: 10vw;
    }

    h2 {
        text-transform: uppercase;
        line-height: 1;
        padding: 3rem 0;
    }

    .intro-text {
        text-align: center;
    }

    .banner-image svg {
        display: block;
        margin: auto;
        background: #000;
        padding: 5px;
        margin-top: 5rem;
        height: 50vh;
    }

    nav ul {
        display: none;
    }

    p {
        font-size: 7vw;
    }

    .social-links a img {
        height: 50px;
    }


    // project

    .image:first-of-type {
        margin-top: 5rem;
    }
}

/* Y axis  */
.from-bottom {
    transform: translateY(100px);
    transition: 1s all ease-in-out;
}

.appear-bottom {
    opacity: 1;
    transform: translateY(0px);
}

/* X axis */
.from-left {
    transform: translateX(-100px);
    transition: 1s all ease-in-out;
}

.appear-left {
    opacity: 1;
    transform: translateX(0px);
}

.from-right {
    transform: translateX(100px);
    transition: 1s all ease-in-out;
}

.appear-right {
    opacity: 1;
    transform: translateX(0px);
}

@media (max-width: 612px) {
    .banner-image svg {
        width: 100%;
    }
}

@media (max-width: 438px) {

    nav .logo {
        flex-direction: column;
        padding: 1rem;
    }

    .image {
        padding: 0;
        flex: 1 1 25rem;
    }

    nav .logo h1 {
        margin: 2%;
    }

    h1 {
        font-size: 2.5rem;
    }

    .intro p {
        padding-top: 0;
    }

    .intro h2 {
        padding-top: 3rem;
    }

    .social-links a img {
        height: 40px;
    }

    .image h2 {
        font-size: .8rem;
    }
}

@media (max-width: 320px) {
    .image {
        flex: 1 1 20rem;
    }
}

@media (max-width:2380px) {
    .images {
        flex: 1 1 45rem;
    }
}

// IE media

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .intro h2 {
        background: none;
        color: #00a0a0;
    }

    .starwars {
        display: none;
    }

    @keyframes face {
        from {
            transform: rotateZ(-10deg);
        }

        to {
            transform: rotateZ(10deg);
        }
    }

    .grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5rem 0rem 0rem 0rem;
    }

    .box {
        margin: .5rem;
        width: 30%;
    }

    .box h2 {
        background: #000;
        padding: 0.5rem;
    }

    @media only screen and (max-width: 755px) {
        .box {
            width: 40%;
        }

        #title-content {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0rem;
        }
    }

    @media only screen and (max-width: 612px) {
        .box {
            width: 100%;
        }
    }

}

// IE Edge

.starwars {
    display: none;
}

@supports (-ms-ime-align:auto) {
    @keyframes face {
        from {
            transform: rotateZ(-1deg);
        }

        to {
            transform: rotateZ(1deg);
        }
    }
}

@keyframes shuffle {
    from {
        transform: translateY(-1%)
    }

    to {
        transform: translateY(1%)
    }
}